* {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

@keyframes slide {
  0% {
    transform: translateX(0.2%) translateY(0.4%);
  }
  10% {
    transform: translateX(-0.2%) translateY(-0.4%);
  }
  20% {
    transform: translateX(0.2%) translateY(0.4%);
  }
  30% {
    transform: translateX(-0.2%) translateY(-0.4%);
  }
  40% {
    transform: translateX(0.2%) translateY(0.4%);
  }
  50% {
    transform: translateX(-0.2%) translateY(-0.4%);
  }
  60% {
    transform: translateX(0.2%) translateY(0.4%);
  }
  70% {
    transform: translateX(-0.2%) translateY(-0.4%);
  }
  80% {
    transform: translateX(0.2%) translateY(0.4%);
  }
  90% {
    transform: translateX(-0.2%) translateY(-0.4%);
  }
  100% {
    transform: translateX(0.2%) translateY(0.4%);
  }
}

.bg {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-image: url('./images/bg1.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  /* animation: slide 8s ease-out infinite alternate; */
}

.peach {
  position: absolute;
  right: 0;
  bottom: 0%;
  z-index: 5;
}
